<div class="container grid-container">

  <a routerLink=""> <i class="fa-duotone fa-solid fa-house home-icon-blue"></i> </a>
  <h2>{{ olympic?.country }}</h2>

  <div class="global-informations">
    <p class="global-informations-card">Number of entries <br><strong>{{ numberOfParticipations }}</strong></p>
    <p class="global-informations-card">Number of  medals <br><strong>{{ totalMedals }}</strong></p>
    <p class="global-informations-card">Number of  athletes <br><strong>{{ totalAthletes }}</strong></p>
  </div>

  <app-line-chart />

</div>
