h2 {
  background-color: #008b8b;
  color: white;
  font-weight: 200;
  font-size: 24px;
  padding: 10px 12px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 265px;
  margin: 0 auto;
  margin-top: 20px;
}

.global-informations{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.global-informations-card{
  border-radius: 10px;
  padding: 10px;
  max-width: 153px;
  width: 100%;
  border: 2.3px solid #008b8b;
  text-align: center;
}
